$g0: #fff;
$g1: #acacb3;
$g2: #1f1f2c;
$g3: #11111a;
$tint: rgba(0, 0, 0, 0.37);
$colors: (#5174ff, #d1316e, #10b85e, #ff3939, #0dc7df, #aa3ad6, #ffb548);
$border: 2px solid currentcolor;
$radius: 3px;
$mobile: 50em;
